.table {
    display: flex;
    gap: 15px;
    padding: 20px;
    border: 3px solid lightgrey;
    background: aqua;
    width: fit-content;
    margin: 20px auto;
}

.column {
    border: 3px solid blue;
    padding: 10px;
    width: 180px;
    background: grey;
}

.header {
    text-align: center;
    border: 2px solid lightpink;
    background: lightyellow;
    margin-bottom: 10px;
    font-weight: bold;
}

.content {
    border: 2px solid blue;
    height: 120px;
    padding: 10px;
    background: lightyellow;
    margin-bottom: 10px;
}

.footer {
    border: 2px solid blue;
    padding: 5px;
    background: lightyellow;
}